# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 2 spaces as indentation
# Trim trailing whitespace
[*]
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# curly_bracket_next_line and indent_brace_style are not yet supported by VS plugin
# just added it for some future days.
[*.cs]
indent_size = 2
spaces_around_operators = true 
curly_bracket_next_line = true 
indent_brace_style = KNF 


[*.csproj]
indent_size = 2

[*.nuspec]
indent_size = 2